body {
  font-family: Arial;
  margin: 0;
  background: #f5f5f5;
}

header {
  background: #111;
  color: white;
  text-align: center;
  padding: 50px;
}

.btn {
  background: orange;
  color: black;
  padding: 10px 20px;
  text-decoration: none;
}

section {
  padding: 40px;
}

.card {
  background: white;
  padding: 20px;
  margin: 10px 0;
  border-radius: 10px;
}